body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    height: 100%;
    line-height: 20px;
    color: #555;
}

h1 {
    color: #c20000;
    font-size: 30px;
    font-weight: normal;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto \9
}

.space {
    width: 0;
    height: 0;
}

a:link {
    color: #06c;
    text-decoration: underline
}

a:visited {
    color: #06c;
    text-decoration: underline
}

a:active {
    color: #06c;
    text-decoration: underline
}

a:hover {
    color: #f60;
    text-decoration: underline
}

/* header */
.base {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    padding: 0
}

.header {
    height: 62px;
}

.tdheader {
    border-bottom: 2px solid #ccc
}

.fifty {
    width: 50%;
}

.tbl_header {
    min-width: 600px;
}

.td_logo {
    width: 117px;
}

.mylogo {
    display: inline;
    width: 102px;
    alignment-baseline: middle
}

@media screen and (min-width: 200px) and (max-width: 600px) {
    .tbl_header {
        min-width: 100%;
    }

    .fifty {
        width: 0%;
    }
}

/* end header */

/* Search bar */

* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

input, button {
    outline: none;
    background: transparent;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
    border: 2px solid #e5e5e5;
    font-size: 16px;
}

button {
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: #e5e5e5;
}

input:focus {
    border-color: #ccc;
}

/* end Search bar */

/* main */

.content {
    vertical-align: top;
    padding: 20px 0;
}

.tbl_content {
    max-width: 600px;
}

.time {
    font-size: 150px;
    font-weight: bold;
    color: #1a2e46;
}

.date {
    font-size: 25px;
}

.icm {
    width: 32px;
    height: 32px;
    vertical-align: middle
}

.icm2 {
    width: 24px;
    height: 24px;
    vertical-align: middle
}

.img_dts {
    width: 150px;
    vertical-align: middle
}

.properties {
    width: 100%;
}

.prop_1 {
    width: 32px;
    height: 35px;
    text-align: center;
    color: #1a2e46;
    border-bottom: #e9e9e9 solid 0.7px;
}

.prop_2 {
    color: #1a2e46;
    font-weight: bold;
    border-bottom: #e9e9e9 solid 0.7px;
}

.prop_3 {
    border-bottom: #e9e9e9 solid 0.7px;
}

.dst {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.dst_title {
    color: #c20000;
    font-size: 20px;
    font-weight: normal;
}

.red {
    color: #c20000;
}

.bold {
   font-weight: bold;
}

#map {
    height: 300px;
    width: 100%;
    background-color: azure;
    vertical-align: middle;
}


@media (max-width: 320px) {
    .time {
        font-size: 60px
    }
}

@media (max-width: 450px) and (min-width: 321px) {
    .time {
        /* 30px - 24px */
        font-size: 80px;
    }
}

@media (max-width: 599px) and (min-width: 451px) {
    .time {
        font-size: 100px;
    }
}

/* end main */

/* footer */
.td_footer {
    height: 60px;
    background-color: #F8F8F8;
    color: #999;
    font-size: 14px;
    border-top: 2px solid #ccc
}

a.footer:link {
    color: #999;
    font-size: 14px;
    text-decoration: none
}

a.footer:visited {
    color: #999;
    font-size: 14px;
    text-decoration: none
}

a.footer:active {
    color: #999;
    font-size: 14px;
    text-decoration: none
}

a.footer:hover {
    color: #999;
    font-size: 14px;
    text-decoration: underline
}

/* end footer */


.ui-menu-item-wrapper {
    display: flex;
    justify-content: space-between;
}

.autocomplete-time {
    float: right;
    text-align: right;
    font-size: small;
}